@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.App {
  width: 100vw;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  padding: 0;
  margin: 0;
}

.board{
  width: 500px;
  height: 500px;
  background-color: rgb(127, 101, 223);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgb(165, 164, 164);
}

.row{
  flex: 33.33%;
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
}

.square{
  flex: 33%;
  height: 100%;
  border: 2px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 80px;
  color: black;
  transition: 0.2s;
  box-sizing: border-box;
}

.square:active{
  background-color: rgb(101, 59, 250);
}

button{
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: 2px 2px 5px rgb(107, 106, 106);
  transition: 0.3s;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(231, 232, 233);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

button:active{
  box-shadow: none;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.footer{
  height: 6vh;
  width: 100%;
  background-color: rgb(29, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .board{
    width: 20rem;
    height: 20rem;
  }

  .square{
    font-size: 50px
  }
}
